[submodule "Libs/SQLite.Net-PCL"]
	path = libs2/SQLite.Net-PCL
	url = https://github.com/alexis-/SQLite.Net-PCL.git
[submodule "Libs/Orc.FilterBuilder"]
	path = libs2/Orc.FilterBuilder
	url = https://github.com/alexis-/Orc.FilterBuilder.git
[submodule "Libs/Stubble"]
	path = libs2/Stubble
	url = https://github.com/alexis-/Stubble.git
	branch = dev
