[submodule "libs/SQLite.Net-PCL"]
	path = libs/SQLite.Net-PCL
	url = https://github.com/alexis-/SQLite.Net-PCL.git
[submodule "libs/Stubble"]
	path = libs/Stubble
	url = https://github.com/alexis-/Stubble.git
	branch = dev
[submodule "libs/Orc.FilterBuilder"]
	path = libs/Orc.FilterBuilder
	url = https://github.com/alexis-/Orc.FilterBuilder.git
[submodule "libs/MahApps.SyncFusion"]
	path = libs/MahApps.SyncFusion
	url = https://github.com/alexis-/MahApps.SyncFusion
