<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Catel.Core" version="4.5.3" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Catel.Fody" version="2.14.0" targetFramework="portable45-net45+win8+wpa81" developmentDependency="true" />
  <package id="Catel.MVVM" version="4.5.3" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Fody" version="1.29.4" targetFramework="portable45-net45+win8+wpa81" developmentDependency="true" />
  <package id="Xamarin.Forms" version="2.3.0.107" targetFramework="portable45-net45+win8+wpa81" />
</packages>